
# ====== Server configuration ======

# Hostname or IP address of the Redis server
REDIS_HOST=localhost

# Port number for the Redis server
REDIS_PORT=6379

# Host address for the Uvicorn server (0.0.0.0 to listen on all interfaces)
UVICORN_HOST=0.0.0.0

# Port number for the Uvicorn server
UVICORN_PORT=8000